@-webkit-keyframes rotato {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotato {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* WebKit and Opera browsers */
@-webkit-keyframes rotatoY {
  from {
    -webkit-transform: rotateY(0deg); }
  to {
    -webkit-transform: rotateY(-360deg); } }

/* all other browsers */
@keyframes rotatoY {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    -webkit-transform: rotateY(-360deg);
    transform: rotateY(-360deg); } }

@-webkit-keyframes border_1_color {
  0% {
    background: #a9d917; }
  50% {
    background: #F4FE43; }
  100% {
    background: #01C1FA; } }

@keyframes border_1_color {
  0% {
    background: #a9d917; }
  50% {
    background: #F4FE43; }
  100% {
    background: #01C1FA; } }

@-webkit-keyframes border_2_color {
  100% {
    background: rgba(255, 255, 255, 0.6); } }

@keyframes border_2_color {
  100% {
    background: rgba(255, 255, 255, 0.6); } }

@-webkit-keyframes answer_color {
  0% {
    background: #35501A; }
  50% {
    background: #22390B; }
  100% {
    background: #19260C; } }

@keyframes answer_color {
  0% {
    background: #35501A; }
  50% {
    background: #22390B; }
  100% {
    background: #19260C; } }

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg) translateZ(0);
    transform: rotate(0deg) translateZ(0); }
  100% {
    -webkit-transform: rotate(360deg) translateZ(0);
    transform: rotate(360deg) translateZ(0); } }

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg) translateZ(0);
    transform: rotate(0deg) translateZ(0); }
  100% {
    -webkit-transform: rotate(360deg) translateZ(0);
    transform: rotate(360deg) translateZ(0); } }

.wdwb_form_row:after, .wdwb-image_picker .attached_images:after, .wdwb-image_picker .image_list:after, #side-sortables .wdwb-map:after,
#menu-to-edit .wdwb-map:after,
.widget-liquid-right .wdwb-map:after,
.customize-control .wdwb-map:after, .select2-container .selection .select2-selection.select2-selection--multiple ul .select2-selection__choice:after, .wdwb-field .icons-selector .selector:after, .wdwb_group:after, .wp_theme_exporter_modal__body ul li:after {
  content: '';
  display: table;
  clear: both; }

.wdwb-image_picker .image_list li .remove, .wdwb-image_background .attachment-media-view .remove {
  background: url(../images/remove.png) center center no-repeat;
  width: 22px;
  height: 22px;
  display: block;
  position: absolute; }
  .wdwb-image_picker .image_list li .remove:hover, .wdwb-image_background .attachment-media-view .remove:hover {
    opacity: .7;
    filter: alpha(opacity=70); }

.wdwb_form_row {
  padding: 16px 0px 16px 0px;
  border-top: 1px solid #f1f1f1; }

.wdwb_form_row:first-of-type {
  border-top: none;
  padding-top: 10px; }

.wdwb_form_row .col-label, .wdwb_form_row .col-field {
  float: left; }

.wdwb_form_row .col-label {
  width: 25%; }

.wdwb_form_row .col-field {
  width: 75%; }

.wdwb_form_row .description {
  display: block;
  color: #555;
  font-size: 13px;
  font-style: italic;
  margin-top: 4px; }

.wdwb_form_row .wdwb-checkboxes, .wdwb_form_row .wdwb-radios {
  padding: 0;
  margin: 0; }

.wdwb_form_row .wdwb-checkboxes li, .wdwb_form_row .wdwb-radios li {
  list-style: none;
  display: block; }
  .wdwb_form_row .wdwb-checkboxes li span, .wdwb_form_row .wdwb-radios li span {
    margin-left: 2px; }

.wdwb_form_row .wdwb-checkboxes.inline li, .wdwb_form_row .wdwb-radios.inline li {
  display: inline;
  margin-right: 15px; }

.wdwb-image_picker .image_list {
  margin: 0;
  padding: 0;
  cursor: move;
  float: left; }

.wdwb-image_picker .image_list li {
  position: relative;
  background: #F5F5F5;
  padding: 0;
  float: left;
  margin: 0 5px 5px 0;
  height: 80px;
  width: 80px;
  line-height: 75px;
  text-align: center;
  border: 1px solid #DFDFDF;
  overflow: hidden; }

.wdwb-image_picker .image_list li .inner {
  width: 80px;
  height: 80px;
  overflow: hidden;
  text-align: center; }

.wdwb-image_picker .image_list li .remove {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.wdwb-image_picker .image_list li img {
  max-height: 80px;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: auto; }

.wdwb-image_picker .add_images {
  color: #C8C8C8;
  border-color: #C8C8C8;
  text-decoration: none;
  margin-top: 0;
  display: block;
  float: left;
  height: 80px;
  width: 80px;
  background: url(../images/add.png) center center no-repeat #F5F5F5;
  border: 1px solid #DFDFDF;
  font-size: 0; }
  .wdwb-image_picker .add_images:hover {
    color: #C8C8C8;
    border-color: #C8C8C8;
    text-decoration: none; }

.wdwb-image_background {
  width: 600px;
  max-width: 100%; }

.wdwb-image_background .attachment-media-view {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; }

.wdwb-image_background .attachment-media-view .remove {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none; }

.wdwb-image_background .placeholder {
  width: 100%;
  position: relative;
  text-align: center;
  cursor: default;
  border: 1px dashed #b4b9be;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0;
  line-height: 20px;
  font-size: 14px;
  background-color: #fbfbfb; }

.wdwb-image_background .added .placeholder {
  opacity: 0;
  visibility: hidden; }

.wdwb-image_background .added .remove {
  display: block; }

.wdwb-image_background .button {
  float: right;
  margin-top: 10px;
  margin-left: 10px; }

.wdwb-image_select {
  margin: -6px 0 0 0;
  padding: 0; }

.wdwb-image_select label {
  display: inline-block;
  margin-right: 6px;
  margin-top: 6px; }

.wdwb-image_select label input {
  display: none; }

.wdwb-image_select label span {
  display: block;
  -webkit-box-shadow: inset 0 0 0 0px #fff,inset 0 0 0 1px #DFDFDF;
  box-shadow: inset 0 0 0 0px #fff,inset 0 0 0 1px #DFDFDF;
  padding: 3px; }

.wdwb-image_select label input[type="radio"]:checked + span {
  -webkit-box-shadow: inset 0 0 0 0px #fff,inset 0 0 0 3px #0073aa;
  box-shadow: inset 0 0 0 0px #fff,inset 0 0 0 3px #0073aa; }

.wdwb-image_select label img {
  display: block;
  max-width: 100%; }

.wdwb-image_select label:hover span {
  -webkit-box-shadow: inset 0 0 0 0px #fff,inset 0 0 0 1px #0073aa;
  box-shadow: inset 0 0 0 0px #fff,inset 0 0 0 1px #0073aa; }

.wdwb-icon_picker .icons-selector .selector-search i {
  top: 12px; }

.wdwb-link {
  color: #666; }

.wdwb-link .link_label {
  font-weight: 700;
  margin-left: 10px;
  display: inline-block;
  line-height: 28px;
  color: #333; }

.wdwb-link .url-label {
  color: #0073aa; }

.wdwb-map {
  position: relative; }

.wdwb-map .map_search {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  padding: 3px;
  border-radius: 3px;
  opacity: 1;
  z-index: 9;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }

.wdwb-map .map_search input {
  width: 260px;
  max-width: 100%;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-right: 1px solid #eee;
  background: transparent; }

.wdwb-map .map_search i {
  color: #333;
  font-size: 14px;
  margin: 0px 7px 0px 5px;
  position: relative;
  top: -1px; }

.wdwb-map .map_canvas {
  height: 350px;
  background-color: #ccc; }

.wdwb-datetime {
  display: inline-block;
  border: 1px solid #ddd;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  outline: none;
  -webkit-transition: 0.05s border-color ease-in-out;
  -o-transition: 0.05s border-color ease-in-out;
  transition: 0.05s border-color ease-in-out;
  position: relative;
  cursor: pointer; }

.wdwb-datetime:hover i {
  opacity: .8; }

.wdwb-datetime i {
  display: inline-block;
  margin: 0px 0px 0px 0px;
  position: absolute;
  top: 3px;
  right: 6px;
  z-index: 0;
  height: 20px;
  border-left: 1px solid #e5e5e5;
  padding-left: 8px;
  line-height: 20px;
  padding-right: 2px; }

.wdwb-datetime input {
  background-color: transparent;
  outline: none;
  border: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  position: relative;
  z-index: 1;
  padding-right: 30px;
  cursor: pointer; }
  .wdwb-datetime input:focus {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.wdwb-checkbox {
  margin-top: -4px !important; }

.wdwb-checkbox + .description {
  display: inline;
  margin-left: 5px; }

#side-sortables .wdwb_form_row,
.widget-inside .wdwb_form_row,
#menu-to-edit .wdwb_form_row {
  margin: 1em 0;
  padding: 0;
  border: none; }

#side-sortables .wdwb_form_row .col-label,
.widget-inside .wdwb_form_row .col-label,
#menu-to-edit .wdwb_form_row .col-label {
  float: none;
  width: auto; }

#side-sortables .wdwb_form_row .col-label label,
.widget-inside .wdwb_form_row .col-label label,
#menu-to-edit .wdwb_form_row .col-label label {
  font-size: 13px;
  line-height: 1.5;
  display: block;
  margin-bottom: 4px;
  color: #333; }

#side-sortables .wdwb_form_row .col-field,
.widget-inside .wdwb_form_row .col-field,
#menu-to-edit .wdwb_form_row .col-field {
  width: auto;
  width: 100%; }

#side-sortables .wdwb_form_row .col-field select,
.widget-inside .wdwb_form_row .col-field select,
#menu-to-edit .wdwb_form_row .col-field select {
  width: 100%; }

#side-sortables .wdwb_form_row .description,
.widget-inside .wdwb_form_row .description,
#menu-to-edit .wdwb_form_row .description {
  padding: 0 !important;
  font-style: italic;
  font-size: 12px; }

#side-sortables .wdwb_form_row .wdwb-checkboxes,
#side-sortables .wdwb_form_row .wdwb-radios,
.widget-inside .wdwb_form_row .wdwb-checkboxes,
.widget-inside .wdwb_form_row .wdwb-radios,
#menu-to-edit .wdwb_form_row .wdwb-checkboxes,
#menu-to-edit .wdwb_form_row .wdwb-radios {
  padding: 10px;
  margin: 5px 0px;
  background: #f3f3f3;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1) inset;
  width: auto; }

#side-sortables .wdwb_form_row .wdwb-image_background .placeholder,
.widget-inside .wdwb_form_row .wdwb-image_background .placeholder,
#menu-to-edit .wdwb_form_row .wdwb-image_background .placeholder {
  font-size: 12px; }
  #side-sortables .wdwb_form_row .wdwb-image_background .placeholder a,
  .widget-inside .wdwb_form_row .wdwb-image_background .placeholder a,
  #menu-to-edit .wdwb_form_row .wdwb-image_background .placeholder a {
    display: block; }

#side-sortables .wdwb_form_row .wdwb-link,
.widget-inside .wdwb_form_row .wdwb-link,
#menu-to-edit .wdwb_form_row .wdwb-link {
  font-size: 12px; }
  #side-sortables .wdwb_form_row .wdwb-link .link_button,
  .widget-inside .wdwb_form_row .wdwb-link .link_button,
  #menu-to-edit .wdwb_form_row .wdwb-link .link_button {
    display: inline-block;
    margin-bottom: 5px; }

#side-sortables .wdwb_form_row .wdwb-image_picker .image_list li, #side-sortables .wdwb_form_row .wdwb-image_picker .add_images,
.widget-inside .wdwb_form_row .wdwb-image_picker .image_list li,
.widget-inside .wdwb_form_row .wdwb-image_picker .add_images,
#menu-to-edit .wdwb_form_row .wdwb-image_picker .image_list li,
#menu-to-edit .wdwb_form_row .wdwb-image_picker .add_images {
  width: 76px;
  height: 76px;
  outline: none; }

#side-sortables .wdwb_form_row .wdwb-checkbox + label,
.widget-inside .wdwb_form_row .wdwb-checkbox + label,
#menu-to-edit .wdwb_form_row .wdwb-checkbox + label {
  position: relative;
  top: -2px; }

#side-sortables .wdwb_form_row .wdwb-select,
.widget-inside .wdwb_form_row .wdwb-select,
#menu-to-edit .wdwb_form_row .wdwb-select {
  display: block;
  width: 100%; }

#menu-to-edit .wdwb_form_row {
  margin: 5px 12px 5px 0px; }

#menu-to-edit .wdwb_form_row:first-of-type {
  clear: both; }

#menu-to-edit .wdwb_form_row .col-label {
  float: none;
  width: auto; }

#menu-to-edit .wdwb_form_row .col-label label {
  font-style: italic;
  margin-bottom: 2px;
  color: #666; }

#menu-to-edit .wdwb_form_row .description {
  margin-top: 0px; }

#menu-to-edit .wdwb_form_row--checkbox {
  padding-top: 9px; }

#side-sortables .wdwb-map .map_search,
#menu-to-edit .wdwb-map .map_search,
.widget-liquid-right .wdwb-map .map_search,
.customize-control .wdwb-map .map_search {
  position: initial;
  border: 1px solid #ddd;
  padding-right: 32px;
  margin-bottom: 10px;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  padding-top: 2px; }

#side-sortables .wdwb-map .map_search input,
#menu-to-edit .wdwb-map .map_search input,
.widget-liquid-right .wdwb-map .map_search input,
.customize-control .wdwb-map .map_search input {
  width: 100%;
  overflow: hidden;
  height: 21px; }

#side-sortables .wdwb-map .map_search i,
#menu-to-edit .wdwb-map .map_search i,
.widget-liquid-right .wdwb-map .map_search i,
.customize-control .wdwb-map .map_search i {
  display: block;
  position: absolute;
  right: 3px;
  top: 7px; }

#side-sortables .wdwb-map .map_canvas,
#menu-to-edit .wdwb-map .map_canvas,
.widget-liquid-right .wdwb-map .map_canvas,
.customize-control .wdwb-map .map_canvas {
  width: 100%;
  height: 220px; }

#addtag .wdwb_form_row {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5%; }

#addtag .wdwb_form_row .col-label, #addtag .wdwb_form_row .col-field {
  float: none;
  width: auto; }

#addtag .wdwb_form_row .col-label {
  margin-bottom: 2px; }

#addtag .wdwb_form_row .col-label label {
  color: #23282d; }

#edittag .wdwb_form_row {
  padding-right: 5%; }

#edittag .wdwb_form_row > td {
  padding-right: 5%; }
  #edittag .wdwb_form_row > td > input[type=text],
  #edittag .wdwb_form_row > td > input[type=password],
  #edittag .wdwb_form_row > td > input[type=email],
  #edittag .wdwb_form_row > td > input[type=number],
  #edittag .wdwb_form_row > td > input[type=search],
  #edittag .wdwb_form_row > td > input[type=tel],
  #edittag .wdwb_form_row > td > input[type=url],
  #edittag .wdwb_form_row > td > textarea {
    width: 100%; }

.customize-control .wdwb-icon_picker .icons-selector .selector-popup {
  width: 257px; }

.customize-control .wdwb-icon_picker .icons-selector .fip-box {
  width: 55px; }

.customize-control select {
  width: 100%; }

.customize-control .wdwb-link .link_button {
  margin-bottom: 5px; }

#advanced-sortables .wdwb-image_background {
  width: 100%; }

.select2-container .selection .select2-selection.select2-selection--multiple {
  border: 1px solid #ddd;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  color: #32373c;
  outline: none;
  border-radius: 0; }
  .select2-container .selection .select2-selection.select2-selection--multiple ul {
    margin: 0;
    display: block; }
  .select2-container .selection .select2-selection.select2-selection--multiple ul .select2-selection__choice {
    padding: 3px 10px 3px 6px;
    margin: 3px 2px 1px 2px;
    border-radius: 2px;
    background-color: #ccc;
    border: none; }
  .select2-container .selection .select2-selection.select2-selection--multiple ul .select2-selection__choice .select2-selection__choice__remove {
    width: 13px;
    height: 13px;
    line-height: 11px;
    border-radius: 6px;
    background-color: #999;
    color: #fff;
    text-align: center;
    font-size: 11px;
    -webkit-box-shadow: 0px 1px 1px #ddd;
    box-shadow: 0px 1px 1px #ddd;
    position: relative;
    top: -1px;
    margin-right: 5px; }
    .select2-container .selection .select2-selection.select2-selection--multiple ul .select2-selection__choice .select2-selection__choice__remove:hover {
      background-color: #777; }

.select2-container .select2-container--default .select2-search--inline .select2-search__field {
  padding-top: 6px; }

.select2-container.select2-container--open .select2-dropdown {
  border: 1px solid #ddd;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  border-radius: 0; }

.select2-container.select2-container--open .select2-dropdown ul li {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px; }

.select2-container.select2-container--open .select2-dropdown ul li.select2-results__option[aria-selected=true] {
  background-color: #ccc; }

.customize-control .wdwb-datetime input[type="text"] {
  width: auto; }

.xdsoft_datetimepicker {
  z-index: 9999999 !important; }

.wdwb-field.selectize-control.multi .selectize-input > div {
  padding: 2px 6px 5px 6px; }

.wdwb-field .icons-selector .selector {
  width: 101px; }
  .wdwb-field .icons-selector .selector .selector-button {
    float: right;
    border-left-color: #e9e9e9; }

.wdwb-field.wdwb-icon_picker select {
  height: auto !important; }

.wdwb-field .selectize-control.single .selectize-input, .wdwb-field .selectize-dropdown.single, .wdwb-field .selectize-input {
  border-color: #ddd;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
  background: #fff;
  border-radius: 0;
  padding: 7px 10px; }

.wdwb-field.size-medium {
  width: 500px;
  max-width: 100%; }

.wdwb-field.wdwb-autocomplete select {
  display: none; }

.customize-pane-child {
  height: 100% !important; }

.custom_code {
  border-right: 0;
  border-left: 0;
  height: -webkit-calc(100vh - 185px);
  height: calc(100vh - 185px);
  resize: none;
  display: block;
  font-family: Consolas,Monaco,monospace;
  font-size: 12px;
  padding: 6px 8px;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  direction: ltr;
  unicode-bidi: embed; }

.form-field .selectize-control {
  width: 95%; }

.customize-control.customize-control-heading {
  margin-bottom: 0px; }

.wdwb-controlbox {
  float: left;
  margin: 0;
  font-size: 14px;
  padding: 8px 4px 8px 12px;
  line-height: 1.4;
  font-weight: 500;
  position: relative;
  z-index: 9; }
  .wdwb-controlbox input {
    margin-left: 3px; }

.postbox--disabled .inside, .postbox--disabled .wdwb_group,
.group-disabled .inside,
.group-disabled .wdwb_group {
  position: relative; }

.postbox--disabled .inside:before, .postbox--disabled .wdwb_group:before,
.group-disabled .inside:before,
.group-disabled .wdwb_group:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  content: '';
  z-index: 15;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.wdwb_group {
  background-color: #fafafa; }

.wdwb_group .group_nav {
  width: 20%;
  margin: 0;
  padding: 0;
  float: left;
  line-height: 1em;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 230px; }

.wdwb_group .group_nav li {
  margin: 0; }

.wdwb_group .group_nav li a {
  margin: 0;
  padding: 12px 12px;
  display: block;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
  line-height: 20px !important;
  border-bottom: 1px solid #eee; }

.wdwb_group .group_nav li a.active {
  position: relative;
  background-color: #fff;
  margin-right: -1px;
  color: inherit;
  font-weight: bold; }

.wdwb_group .group_panel {
  overflow: hidden;
  border-left: 1px solid #eee;
  background-color: #fff; }

.wdwb_group .group_panel .group_item {
  padding: 12px;
  display: none;
  min-height: 250px;
  padding-top: 20px; }

.wdwb_group .group_panel .group_item.active {
  display: block; }

.form-table .wdwb_group, #col-left .wdwb_group {
  border: 1px solid #ddd;
  margin: 0; }

#col-left .wdwb_group .group_nav {
  width: 25%; }

.wp_theme_exporter_form {
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden; }
  .wp_theme_exporter_form a {
    color: #3F51B5; }

.wpef-button {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
  border-radius: 30px;
  padding: 8px 20px 8px 20px;
  border: 3px solid #3F51B5;
  background-color: transparent;
  color: #3F51B5;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  line-height: 1.15em; }
  .wpef-button:hover, .wpef-button.active {
    background-color: #3F51B5;
    color: #fff; }
  .wpef-button:focus {
    -webkit-box-shadow: none;
    box-shadow: none; }

.wpef-button i {
  position: relative;
  top: 5px;
  margin-right: 4px; }

.wpef-button.wpef-button-primary {
  background-color: #3F51B5;
  color: #fff; }
  .wpef-button.wpef-button-primary:hover, .wpef-button.wpef-button-primary.active {
    background-color: transparent;
    color: #3F51B5; }

.wpef-button:disabled {
  cursor: default;
  border-color: #ccc !important;
  background-color: #ccc !important;
  color: #333 !important; }

.wp_theme_exporter_heading {
  background-color: #fff;
  color: #23282d;
  padding: 5px 13px 8px 13px;
  border-radius: 3px 3px 0 0;
  border-bottom: 3px solid #3F51B5; }

.wp_theme_exporter_heading h1 {
  color: inherit;
  font-weight: bold;
  text-shadow: 0px 1px 0px #fff; }

.wp_theme_exporter_footer {
  padding: 10px;
  background-color: #fff;
  border-radius: 0px 0px 3px 3px;
  text-align: right;
  border-top: 1px solid #eee; }

.wp_theme_exporter_footer .warning {
  color: red;
  margin-right: 8px; }

.wp_theme_exporter_footer .buttons {
  display: inline-block; }

.wp_theme_exporter_footer .wpef-button {
  display: none; }

.wp_theme_exporter_footer .wpef-button i {
  position: relative;
  top: 1px;
  margin-right: 4px; }

.wp_theme_exporter_footer .spinner {
  float: none;
  margin-top: 6px; }

.wp_theme_exporter_footer #export {
  display: inline-block; }

.wdwb-settings {
  background-color: #fff; }

.alert {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem; }
  .alert.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff; }
  .alert.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba; }
  .alert.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb; }
  .alert.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb; }

.wp_theme_exporter_modal {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: 999999;
  display: none; }

.wp_theme_exporter_modal__layout {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.wp_theme_exporter_modal__container {
  width: 500px;
  max-width: 100%;
  margin: auto;
  top: 30%;
  background-color: #fff;
  position: relative;
  z-index: 99;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4); }

.wp_theme_exporter_modal__header {
  background-color: #3F51B5;
  color: #fff; }
  .wp_theme_exporter_modal__header h3 {
    color: inherit;
    text-align: center;
    margin: 0;
    padding: 15px; }
  .wp_theme_exporter_modal__header .modal_close {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: inherit;
    right: 0;
    top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
    text-align: center;
    padding-top: 13px; }

.wp_theme_exporter_modal__body {
  padding: 30px 30px; }
  .wp_theme_exporter_modal__body ul {
    margin: 0; }
    .wp_theme_exporter_modal__body ul li {
      border-top: 1px solid #eee;
      padding: 12px 0;
      display: block; }
    .wp_theme_exporter_modal__body ul li:first-child {
      border-top: none; }
    .wp_theme_exporter_modal__body ul li span {
      font-size: 16px;
      float: left;
      margin-top: 13px; }
    .wp_theme_exporter_modal__body ul li a {
      float: right; }
